@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", "sans-serif";
  --color-shop-light-pink: #fcf0e4;
  --color-shop-dark-green: #063c28;
  --color-shop-btn-dark-green: #063d29;
  --color-shop-light-bg: #f6f6f6;
  --color-shop-light-green: #3b9c3c;
  --color-shop-orange: #fb6c08;
  --color-darkColor: #151515;
  --color-lightColor: #52525b;
  --color-shop-lightOrange: #fca99b;
}

*{margin: 0px; padding: 0px; box-sizing: border-box;}

body {
    background-color: #f6f6f6;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    color: rgba(0, 0, 0, 0.7);
}

.container {
    width: 90%;
    margin: auto;
}

.link:hover {color: #3b9c3c;}

.MuiBadge-badge{background-color: #3b9c3c !important;}

nav button {text-transform: capitalize !important; color: rgba(0, 0, 0, 0.7) !important;}
nav button:hover {text-transform: capitalize !important; color: #3b9c3c !important;}